* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body, #app {
    margin: 0;
    height: 100%;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    margin: auto;
    padding: 10px 15px;
    border-radius: 100px;
    font-weight: bold;
    background-color: cadetblue;
    color:white;
}

#app {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: black;
    color: white;
} 

header .brand {
    display: flex;
    align-items: center;
    font-weight: bold;
}

header .brand .brand-logo {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    background-image: url("http://placekitten.com/60/60");
}

header nav {
    font-size: 14px;
    display: flex; 
}

nav .nav-item {
    padding: 10px;
}

.nav-item.nav-icon {
    margin: 5px;
    width: 30px;
    height: 30px;
    background-image: url("http://placekitten.com/30/30");
}

main {
    flex-grow: 1;
    padding:30px;
    background-color: grey;
}

main .schedule {
    display: flex;
    justify-content: flex-end;
    padding: 50px;
    background-image: url("http://placekitten.com/1000/500");
    background-size: cover;
    font-size: large;
    font-weight: bold;
    color: white;
}

main .events {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

.events .event {
    background-color: white;
    width: 200px;
    min-width: 200px;
    margin: 10px;
}

.events .event:first-child {
    margin-left: 0;
}

.event .event-img {
    height: 200px;
    background-image: url("http://placekitten.com/200/200");
    background-size: cover;
}

.event .event-txt {
    padding: 10px;
    display: flex;
    flex-direction: column;

    font-size: medium;
    font-weight: bold;
}

.smalltext {
    font-size: 13px;
    padding: 10px;
}

.event .event-name {
    font-size: medium;
    padding:15px 0;
}

.event .event-desc {
    padding: 10px 0;
}
